In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
df_2014 = pd.read_csv('./new_data/2014_US_exchange.csv', index_col=0)
df_2015 = pd.read_csv('./new_data/2015_US_exchange.csv', index_col=0)
df_2016 = pd.read_csv('./new_data/2016_US_exchange.csv', index_col=0)
df_2017 = pd.read_csv('./new_data/2017_US_exchange.csv', index_col=0)
df_2018 = pd.read_csv('./new_data/2018_US_exchange.csv', index_col=0)

In [3]:
df_2014.head(5)

,Symbol,Revenue,Revenue Growth,Cost of Revenue,Gross Profit,R&D Expenses,SG&A Expense,Operating Expenses,Operating Income,Interest Expense,...,Receivables growth,Inventory Growth,Asset Growth,Book Value per Share Growth,Debt Growth,R&D Expense Growth,SG&A Expenses Growth,Sector,2015 PRICE VAR [%],Class
0,PG,7.440100e+10,-0.0713,3.903000e+10,3.537100e+10,0.000000e+00,2.146100e+10,2.146100e+10,1.391000e+10,7.090000e+08,...,-0.0187,-0.0217,0.0359,0.0316,0.1228,0.0000,-0.1746,Consumer Defensive,-9.323276,0
1,VIPS,3.734148e+09,1.1737,2.805625e+09,9.285226e+08,1.083303e+08,3.441414e+08,7.939267e+08,1.345959e+08,1.214869e+07,...,NaN,NaN,NaN,NaN,NaN,1.6484,1.7313,Consumer Defensive,-25.512193,0
2,KR,9.837500e+10,0.0182,7.813800e+10,2.023700e+10,0.000000e+00,1.519600e+10,1.751200e+10,2.725000e+09,4.430000e+08,...,0.0618,0.0981,0.1886,0.3268,0.2738,0.0000,0.0234,Consumer Defensive,33.118297,1
3,RAD,2.552641e+10,0.0053,1.820268e+10,7.323734e+09,0.000000e+00,6.561162e+09,6.586482e+09,7.372520e+08,4.245910e+08,...,0.0211,-0.0510,-0.0189,0.1963,-0.0458,0.0000,-0.0060,Consumer Defensive,2.752291,1
4,GIS,1.790960e+10,0.0076,1.153980e+10,6.369800e+09,0.000000e+00,3.474300e+09,3.412400e+09,2.957400e+09,3.024000e+08,...,0.0257,0.0090,0.0215,0.0274,0.1025,0.0000,-0.0220,Consumer Defensive,12.897715,1

In [4]:
df_2014.tail(5)

,Symbol,Revenue,Revenue Growth,Cost of Revenue,Gross Profit,R&D Expenses,SG&A Expense,Operating Expenses,Operating Income,Interest Expense,...,Receivables growth,Inventory Growth,Asset Growth,Book Value per Share Growth,Debt Growth,R&D Expense Growth,SG&A Expenses Growth,Sector,2015 PRICE VAR [%],Class
3802,TRNS,118508000.0,0.0553,88718000.0,29790000.0,0.0,23085000.0,23085000.0,6705000.0,259000.0,...,0.0222,-0.0914,-0.0213,-0.0061,-0.0529,0.000,0.0758,Technology,-2.453386,0
3803,TSRI,49529867.0,0.1028,41251638.0,8278229.0,0.0,8253061.0,8253061.0,25168.0,0.0,...,-0.0384,0.0000,-0.0041,-0.0049,0.0000,0.000,0.0213,Technology,29.362884,1
3804,TZOO,153240000.0,-0.1019,19174000.0,134066000.0,11326000.0,112513000.0,116256000.0,17810000.0,0.0,...,0.1529,0.0000,-0.1872,0.1823,0.0000,0.283,-0.0637,Technology,-31.167763,0
3805,USATP,42000000.0,NaN,27000000.0,15000000.0,NaN,14000000.0,15000000.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Technology,-23.558900,0
3806,WSTG,340758000.0,0.1344,315948000.0,24810000.0,0.0,16513000.0,16513000.0,8297000.0,-472000.0,...,-0.0333,0.1338,0.0023,0.0890,0.0000,0.000,0.0650,Technology,7.779579,1

In [5]:
print("Shape of year 2014: {}".format(df_2014.shape))
print("Shape of year 2015: {}".format(df_2015.shape))
print("Shape of year 2016: {}".format(df_2016.shape))
print("Shape of year 2017: {}".format(df_2017.shape))
print("Shape of year 2018: {}".format(df_2018.shape))

Shape of year 2014: (3162, 225)
Shape of year 2015: (3268, 225)
Shape of year 2016: (3657, 225)
Shape of year 2017: (3741, 225)
Shape of year 2018: (3288, 225)

In [6]:
df_2014.columns

Index(['Symbol', 'Revenue', 'Revenue Growth', 'Cost of Revenue',
       'Gross Profit', 'R&D Expenses', 'SG&A Expense', 'Operating Expenses',
       'Operating Income', 'Interest Expense',
       ...
       'Receivables growth', 'Inventory Growth', 'Asset Growth',
       'Book Value per Share Growth', 'Debt Growth', 'R&D Expense Growth',
       'SG&A Expenses Growth', 'Sector', '2015 PRICE VAR [%]', 'Class'],
      dtype='object', length=225)

In [7]:
df_2014.rename(columns={"2015 PRICE VAR [%]": "PRICE_VAR"},inplace=True)
df_2015.rename(columns={"2016 PRICE VAR [%]": "PRICE_VAR"},inplace=True)
df_2016.rename(columns={"2017 PRICE VAR [%]": "PRICE_VAR"},inplace=True)
df_2017.rename(columns={"2018 PRICE VAR [%]": "PRICE_VAR"},inplace=True)
df_2018.rename(columns={"2019 PRICE VAR [%]": "PRICE_VAR"},inplace=True)

In [8]:
# Rename the train, validation and test sets
train = pd.concat([df_2014, df_2015, df_2016])
val = df_2017
test = df_2018
print(train.shape)

(10087, 225)

In [9]:
train.head(5)

,Symbol,Revenue,Revenue Growth,Cost of Revenue,Gross Profit,R&D Expenses,SG&A Expense,Operating Expenses,Operating Income,Interest Expense,...,Receivables growth,Inventory Growth,Asset Growth,Book Value per Share Growth,Debt Growth,R&D Expense Growth,SG&A Expenses Growth,Sector,PRICE_VAR,Class
0,PG,7.440100e+10,-0.0713,3.903000e+10,3.537100e+10,0.000000e+00,2.146100e+10,2.146100e+10,1.391000e+10,7.090000e+08,...,-0.0187,-0.0217,0.0359,0.0316,0.1228,0.0000,-0.1746,Consumer Defensive,-9.323276,0
1,VIPS,3.734148e+09,1.1737,2.805625e+09,9.285226e+08,1.083303e+08,3.441414e+08,7.939267e+08,1.345959e+08,1.214869e+07,...,NaN,NaN,NaN,NaN,NaN,1.6484,1.7313,Consumer Defensive,-25.512193,0
2,KR,9.837500e+10,0.0182,7.813800e+10,2.023700e+10,0.000000e+00,1.519600e+10,1.751200e+10,2.725000e+09,4.430000e+08,...,0.0618,0.0981,0.1886,0.3268,0.2738,0.0000,0.0234,Consumer Defensive,33.118297,1
3,RAD,2.552641e+10,0.0053,1.820268e+10,7.323734e+09,0.000000e+00,6.561162e+09,6.586482e+09,7.372520e+08,4.245910e+08,...,0.0211,-0.0510,-0.0189,0.1963,-0.0458,0.0000,-0.0060,Consumer Defensive,2.752291,1
4,GIS,1.790960e+10,0.0076,1.153980e+10,6.369800e+09,0.000000e+00,3.474300e+09,3.412400e+09,2.957400e+09,3.024000e+08,...,0.0257,0.0090,0.0215,0.0274,0.1025,0.0000,-0.0220,Consumer Defensive,12.897715,1

In [10]:
train.drop(['PRICE_VAR'], axis=1, inplace=True)
train.head(5)

,Symbol,Revenue,Revenue Growth,Cost of Revenue,Gross Profit,R&D Expenses,SG&A Expense,Operating Expenses,Operating Income,Interest Expense,...,3Y Dividend per Share Growth (per Share),Receivables growth,Inventory Growth,Asset Growth,Book Value per Share Growth,Debt Growth,R&D Expense Growth,SG&A Expenses Growth,Sector,Class
0,PG,7.440100e+10,-0.0713,3.903000e+10,3.537100e+10,0.000000e+00,2.146100e+10,2.146100e+10,1.391000e+10,7.090000e+08,...,0.0751,-0.0187,-0.0217,0.0359,0.0316,0.1228,0.0000,-0.1746,Consumer Defensive,0
1,VIPS,3.734148e+09,1.1737,2.805625e+09,9.285226e+08,1.083303e+08,3.441414e+08,7.939267e+08,1.345959e+08,1.214869e+07,...,NaN,NaN,NaN,NaN,NaN,NaN,1.6484,1.7313,Consumer Defensive,0
2,KR,9.837500e+10,0.0182,7.813800e+10,2.023700e+10,0.000000e+00,1.519600e+10,1.751200e+10,2.725000e+09,4.430000e+08,...,0.1633,0.0618,0.0981,0.1886,0.3268,0.2738,0.0000,0.0234,Consumer Defensive,1
3,RAD,2.552641e+10,0.0053,1.820268e+10,7.323734e+09,0.000000e+00,6.561162e+09,6.586482e+09,7.372520e+08,4.245910e+08,...,0.0000,0.0211,-0.0510,-0.0189,0.1963,-0.0458,0.0000,-0.0060,Consumer Defensive,1
4,GIS,1.790960e+10,0.0076,1.153980e+10,6.369800e+09,0.000000e+00,3.474300e+09,3.412400e+09,2.957400e+09,3.024000e+08,...,0.1144,0.0257,0.0090,0.0215,0.0274,0.1025,0.0000,-0.0220,Consumer Defensive,1

In [11]:
# Getting the columns with'Growth'
df_growth = train.filter(regex='rowth')
df_growth.head(5)

,Revenue Growth,priceEarningsToGrowthRatio,Gross Profit Growth,EBIT Growth,Operating Income Growth,Net Income Growth,EPS Growth,EPS Diluted Growth,Weighted Average Shares Growth,Weighted Average Shares Diluted Growth,...,10Y Dividend per Share Growth (per Share),5Y Dividend per Share Growth (per Share),3Y Dividend per Share Growth (per Share),Receivables growth,Inventory Growth,Asset Growth,Book Value per Share Growth,Debt Growth,R&D Expense Growth,SG&A Expenses Growth
0,-0.0713,15.557842,-0.1185,-0.0001,0.0067,0.0293,0.0371,0.0389,-0.0127,NaN,...,0.1013,0.0834,0.0751,-0.0187,-0.0217,0.0359,0.0316,0.1228,0.0000,-0.1746
1,1.1737,2.631793,1.2489,1.6142,1.9463,1.5649,1.4625,1.4646,0.0184,0.0195,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.6484,1.7313
2,0.0182,0.000000,0.0173,-0.0145,-0.0141,0.0147,0.0576,0.0469,-0.0356,-0.0317,...,0.0000,0.1215,0.1633,0.0618,0.0981,0.1886,0.3268,0.2738,0.0000,0.0234
3,0.0053,0.000000,0.0007,0.2904,0.1113,1.0043,0.9167,0.9167,0.0694,NaN,...,0.0000,0.0000,0.0000,0.0211,-0.0510,-0.0189,0.1963,-0.0458,0.0000,-0.0060
4,0.0076,15.254287,-0.0084,0.0332,0.0370,-0.0166,0.0140,0.0143,-0.0468,NaN,...,0.1092,0.1250,0.1144,0.0257,0.0090,0.0215,0.0274,0.1025,0.0000,-0.0220

In [12]:
# Getting the columns with 'Profit'
df_profit = train.filter(regex='ofit')
df_profit.head(5)

,Gross Profit,Profit Margin,Net Profit Margin,grossProfitMargin,operatingProfitMargin,pretaxProfitMargin,netProfitMargin,Gross Profit Growth
0,3.537100e+10,0.1560,0.1565,0.475410,1.0,0.186960,0.156490,-0.1185
1,9.285226e+08,0.0058,0.0364,0.248657,1.0,0.036045,0.036373,1.2489
2,2.023700e+10,0.0150,0.0154,0.205713,1.0,0.027700,0.015441,0.0173
3,7.323734e+09,0.0080,0.0098,0.286908,1.0,0.028882,0.009771,0.0007
4,6.369800e+09,0.1020,0.1019,0.355664,1.0,0.165129,0.101867,-0.0084

In [13]:
# Getting the columns with 'Expense'
df_expense = train.filter(regex='xpense')
df_expense.head(5)

,R&D Expenses,SG&A Expense,Operating Expenses,Interest Expense,Income Tax Expense,R&D Expense Growth,SG&A Expenses Growth
0,0.000000e+00,2.146100e+10,2.146100e+10,7.090000e+08,2.851000e+09,0.0000,-0.1746
1,1.083303e+08,3.441414e+08,7.939267e+08,1.214869e+07,3.955957e+07,1.6484,1.7313
2,0.000000e+00,1.519600e+10,1.751200e+10,4.430000e+08,7.510000e+08,0.0000,0.0234
3,0.000000e+00,6.561162e+09,6.586482e+09,4.245910e+08,8.040000e+05,0.0000,-0.0060
4,0.000000e+00,3.474300e+09,3.412400e+09,3.024000e+08,8.833000e+08,0.0000,-0.0220

In [14]:
# Getting the columns with 'Ratio'
df_ratio = train.filter(regex='Ratio|ratio')
df_ratio.head(5)

,priceBookValueRatio,priceToBookRatio,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,currentRatio,...,dividendpaidAndCapexCoverageRatios,dividendPayoutRatio,PE ratio,Price to Sales Ratio,POCF ratio,PFCF ratio,PB ratio,PTB ratio,Current ratio,Payout Ratio
0,3.0391,0.0000,2.8583,18.7566,21.0348,15.2358,12.977501,15.557842,2.434644,0.9370,...,1.297332,0.593576,18.7566,2.8583,15.2358,21.0348,3.0391,0.0000,0.9370,0.584
1,NaN,NaN,0.0443,81.5526,1.3589,NaN,0.678615,2.631793,0.095727,0.2102,...,1.997484,-0.000000,81.5526,0.0443,NaN,1.3589,NaN,NaN,0.2102,0.000
2,3.3579,7.0982,0.1858,12.0340,14.6302,5.1147,0.000000,0.000000,0.000000,0.8250,...,1.348811,0.210007,12.0340,0.1858,5.1147,14.6302,3.3579,7.0982,0.8250,0.209
3,0.0000,0.0000,0.2491,28.6087,17.2736,9.0589,0.000000,0.000000,0.000000,1.7090,...,2.102753,-0.000000,28.6087,0.2491,9.0589,17.2736,0.0000,0.0000,1.7090,0.000
4,5.1004,0.0000,1.8610,18.7034,17.6902,13.1169,10.952350,15.254287,1.553911,0.8100,...,1.549201,0.538972,18.7034,1.8610,13.1169,17.6902,5.1004,0.0000,0.8100,0.534

In [15]:
# Getting the columns with 'turnover'
df_turnover = train.filter(regex='Turnover|turnover')
df_turnover.head(5)

,payablesTurnover,inventoryTurnover,fixedAssetTurnover,assetTurnover,Receivables Turnover,Payables Turnover,Inventory Turnover
0,1.5648,10.8869,3.335769,0.515721,11.5404,1.5648,10.8869
1,NaN,NaN,12.100383,1.364477,NaN,NaN,NaN
2,4.9593,18.2227,5.823418,3.359687,90.7937,4.9593,18.2227
3,4.9289,8.3030,13.041452,3.675578,27.1769,4.9289,8.3030
4,2.8234,11.5363,4.543393,0.773777,12.2250,2.8234,11.5363

In [16]:
train_features = train.iloc[:, :-1]
train_features

,Symbol,Revenue,Revenue Growth,Cost of Revenue,Gross Profit,R&D Expenses,SG&A Expense,Operating Expenses,Operating Income,Interest Expense,...,5Y Dividend per Share Growth (per Share),3Y Dividend per Share Growth (per Share),Receivables growth,Inventory Growth,Asset Growth,Book Value per Share Growth,Debt Growth,R&D Expense Growth,SG&A Expenses Growth,Sector
0,PG,7.440100e+10,-0.0713,3.903000e+10,3.537100e+10,0.000000e+00,2.146100e+10,2.146100e+10,1.391000e+10,7.090000e+08,...,0.0834,0.0751,-0.0187,-0.0217,0.0359,0.0316,0.1228,0.0000,-0.1746,Consumer Defensive
1,VIPS,3.734148e+09,1.1737,2.805625e+09,9.285226e+08,1.083303e+08,3.441414e+08,7.939267e+08,1.345959e+08,1.214869e+07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.6484,1.7313,Consumer Defensive
2,KR,9.837500e+10,0.0182,7.813800e+10,2.023700e+10,0.000000e+00,1.519600e+10,1.751200e+10,2.725000e+09,4.430000e+08,...,0.1215,0.1633,0.0618,0.0981,0.1886,0.3268,0.2738,0.0000,0.0234,Consumer Defensive
3,RAD,2.552641e+10,0.0053,1.820268e+10,7.323734e+09,0.000000e+00,6.561162e+09,6.586482e+09,7.372520e+08,4.245910e+08,...,0.0000,0.0000,0.0211,-0.0510,-0.0189,0.1963,-0.0458,0.0000,-0.0060,Consumer Defensive
4,GIS,1.790960e+10,0.0076,1.153980e+10,6.369800e+09,0.000000e+00,3.474300e+09,3.412400e+09,2.957400e+09,3.024000e+08,...,0.1250,0.1144,0.0257,0.0090,0.0215,0.0274,0.1025,0.0000,-0.0220,Consumer Defensive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4791,TRNS,1.221660e+08,-0.0118,9.304700e+07,2.911900e+07,0.000000e+00,2.281700e+07,2.281700e+07,6.302000e+06,2.950000e+05,...,0.0000,0.0000,-0.0060,-0.0341,0.2342,0.1193,0.5675,0.0000,0.0223,Technology
4792,TSRI,6.099828e+07,0.0626,5.103888e+07,9.959402e+06,0.000000e+00,9.120526e+06,9.120526e+06,8.388760e+05,0.000000e+00,...,0.0000,-1.0000,-0.1191,0.0000,0.0027,0.0441,0.0000,0.0000,0.0267,Technology
4793,TZOO,1.142630e+08,-0.0782,1.385500e+07,1.004080e+08,9.096000e+06,8.112600e+07,9.022200e+07,1.018600e+07,0.000000e+00,...,0.0000,0.0000,-0.1209,0.0000,-0.2194,-0.1115,-1.0000,-0.2553,-0.0964,Technology
4794,USATP,7.700000e+07,NaN,5.500000e+07,2.200000e+07,NaN,2.200000e+07,2.300000e+07,-1.000000e+06,1.000000e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Technology
4795,WSTG,1.646090e+08,-0.5692,1.372780e+08,2.733100e+07,0.000000e+00,1.871500e+07,1.871500e+07,8.616000e+06,-3.180000e+05,...,0.0122,0.0152,0.4233,0.1894,0.2085,0.0012,0.0000,0.0000,0.0361,Technology

In [17]:
train_label = train.iloc[:, -1]
train_label

0       0
1       0
2       1
3       1
4       1
       ..
4791    1
4792    1
4793    0
4794    1
4795    0
Name: Class, Length: 10087, dtype: int64

In [18]:
val_features = val.iloc[:, :-1]
val_label = val.iloc[:, -1]
test_features = test.iloc[:, :-1]
test_label = test.iloc[:, -1]

In [19]:
# Start with only a few features: 10
features = ['Revenue', 'Net Profit Margin', 'grossProfitMargin', 'debtEquityRatio', 'Total current assets', 'Debt to Assets', 'Tangible Asset Value', 'Total current liabilities', 'returnOnEquity', 'Operating Income Growth']
X_train_10 = train_features[features]
X_train_10.head(5)

,Revenue,Net Profit Margin,grossProfitMargin,debtEquityRatio,Total current assets,Debt to Assets,Tangible Asset Value,Total current liabilities,returnOnEquity,Operating Income Growth
0,7.440100e+10,0.1565,0.475410,0.5061,3.161700e+10,0.2455,5.971900e+10,3.372600e+10,0.1664,0.0067
1,3.734148e+09,0.0364,0.248657,1.5093,2.134397e+09,0.2274,2.546029e+09,1.639537e+09,0.3294,1.9463
2,9.837500e+10,0.0154,0.205713,2.1007,8.830000e+09,0.3863,2.644400e+10,1.070500e+10,0.2821,-0.0141
3,2.552641e+10,0.0098,0.286908,-2.7237,4.285125e+09,0.8290,6.513644e+09,2.507452e+09,-0.1180,0.1113
4,1.790960e+10,0.1019,0.355664,1.3445,4.393500e+09,0.3796,9.480900e+09,5.423500e+09,0.2792,0.0370

In [20]:
X_train_10.describe()

,Revenue,Net Profit Margin,grossProfitMargin,debtEquityRatio,Total current assets,Debt to Assets,Tangible Asset Value,Total current liabilities,returnOnEquity,Operating Income Growth
count,9.642000e+03,9458.000000,9114.000000,9203.000000,8.708000e+03,9203.000000,9.229000e+03,8.694000e+03,9.200000e+03,9269.000000
mean,6.330522e+09,-6.309841,0.504884,0.622572,6.241703e+09,0.251691,2.007569e+10,8.270236e+09,1.970357e+03,-0.229354
std,3.953524e+10,146.406714,1.049147,36.739681,5.093581e+10,0.293355,1.260095e+11,7.923104e+10,1.168151e+05,23.796455
min,-6.276160e+08,-8964.916400,-74.319113,-2586.435900,0.000000e+00,-0.425300,-1.697923e+09,-2.096681e+10,-9.693878e+02,-1514.642900
25%,1.070160e+08,-0.000500,0.280398,0.053300,1.034819e+08,0.043750,2.807290e+08,4.548897e+07,-1.725000e-02,-0.229700
50%,6.274103e+08,0.055600,0.473675,0.491400,3.644200e+08,0.201200,1.211680e+09,2.465400e+08,7.920000e-02,0.052800
75%,2.960280e+09,0.146675,0.803626,1.118800,1.548580e+09,0.383500,4.935716e+09,1.210525e+09,1.447250e-01,0.337500
max,1.886894e+12,40.807500,2.659945,2131.512800,1.247231e+12,7.826600,2.515999e+12,1.956875e+12,8.255949e+06,659.553400

In [21]:
X_train_10.replace([np.inf, -np.inf], np.nan)
X_train_10.fillna(0, inplace=True)

/Users/ngo00054/opt/anaconda3/envs/DataMining/lib/python3.8/site-packages/pandas/core/frame.py:4462: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [22]:
X_train_10.isnull().sum().sum()
np.where(np.isnan(X_train_10))

(array([], dtype=int64), array([], dtype=int64))

In [23]:
X_val_10 = val_features[features]
X_test_10 = test_features[features]
X_val_10.replace([np.inf, -np.inf], np.nan)
X_val_10.fillna(0, inplace=True)
X_test_10.replace([np.inf, -np.inf], np.nan)
X_test_10.fillna(0, inplace=True)

In [24]:
# Import classifiers
# Start with Random Forest
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, f1_score

In [25]:
# Start with the default parameters. Will change max_depth later
rf_model = RandomForestClassifier(random_state=0)
rf_model.fit(X_train_10, train_label)

# Prediction
train_pred = rf_model.predict(X_train_10)
train_acc = accuracy_score(train_label, train_pred)
train_f1 = f1_score(train_label, train_pred)
print("Train Accuracy: {:.4f}".format(train_acc))
print("Train F1 Score: {:.4f}".format(train_f1))

val_pred = rf_model.predict(X_val_10)
val_acc = accuracy_score(val_label, val_pred)
val_f1 = f1_score(val_label, val_pred)
print("Val Accuracy: {:.4f}".format(val_acc))
print("Val F1 Score: {:.4f}".format(val_f1))

test_pred = rf_model.predict(X_test_10)
test_acc = accuracy_score(test_label, test_pred)
test_f1 = f1_score(test_label, test_pred)
print("Test Accuracy: {:.4f}".format(test_acc))
print("Test F1 Score: {:.4f}".format(test_f1))

print("Test Confusion Matrix: ")
tn, fp, fn, tp = confusion_matrix(test_label, test_pred).ravel()
print(confusion_matrix(test_label, test_pred))
print("Test False Discovery Rate: {:.4f}".format(fp/(fp+tn)))
# Pretty bad False Discovery Rate. Skewed dataset

Train Accuracy: 0.9946
Train F1 Score: 0.9957
Val Accuracy: 0.3571
Val F1 Score: 0.4001
Test Accuracy: 0.7007
Test F1 Score: 0.8026
Test Confusion Matrix:
[[ 303  589]
 [ 395 2001]]
Test False Discovery Rate: 0.6603

In [29]:
# Start with the default parameters. Will change max_depth later
rf_model = RandomForestClassifier(max_depth=4, random_state=0)
rf_model.fit(X_train_10, train_label)

# Prediction
train_pred = rf_model.predict(X_train_10)
train_acc = accuracy_score(train_label, train_pred)
train_f1 = f1_score(train_label, train_pred)
print("Train Accuracy: {:.4f}".format(train_acc))
print("Train F1 Score: {:.4f}".format(train_f1))

val_pred = rf_model.predict(X_val_10)
val_acc = accuracy_score(val_label, val_pred)
val_f1 = f1_score(val_label, val_pred)
print("Val Accuracy: {:.4f}".format(val_acc))
print("Val F1 Score: {:.4f}".format(val_f1))

test_pred = rf_model.predict(X_test_10)
test_acc = accuracy_score(test_label, test_pred)
test_f1 = f1_score(test_label, test_pred)
print("Test Accuracy: {:.4f}".format(test_acc))
print("Test F1 Score: {:.4f}".format(test_f1))

Train Accuracy: 0.6531
Train F1 Score: 0.7705
Val Accuracy: 0.3229
Val F1 Score: 0.4314
Test Accuracy: 0.7372
Test F1 Score: 0.8386

In [35]:
# Feature Selection: Using select KBest and ANOVA f-1 score
from sklearn.feature_selection import SelectKBest, f_classif

In [36]:
train_features.shape

(10087, 223)

In [37]:
X_train_clean = train_features.drop(['Symbol', 'Sector'], axis=1)
X_train_clean.replace([np.inf, -np.inf], np.nan)
X_train_clean.fillna(0, inplace=True)

In [38]:
train_KBest = SelectKBest(f_classif, k=10).fit_transform(X_train_clean, train_label)
train_KBest.shape

(10087, 10)